In [357]:
#Import Pandas, numpy

import pandas as pd
import numpy as np

#open and merge files
school_data_path="Resources/schools_complete.csv"
student_data_path="Resources/students_complete.csv"
school_df=pd.read_csv(school_data_path)
student_df=pd.read_csv(student_data_path)
#print(school_df).head
merge_df = pd.merge(school_df,student_df , on="school_name")
#merge_df.head

In [358]:
#collect new column info
Total_Schools =len(merge_df['school_name'].value_counts())
Total_Students=merge_df['student_name'].count()
Total_Budget=school_df['budget'].sum()


Average_Math =merge_df['math_score'].mean()
Average_Reader =merge_df['reading_score'].mean()

#print (Total_Schools)
#print(Total_Students)
#print(Total_Budget)
#print(Average_Math)
#print(Average_Reader)

In [359]:
#Figure out Percentages for math and reading
PassMath = merge_df [(merge_df["math_score"] >=70)]
PassRead = merge_df [(merge_df["reading_score"] >=70)]
PassBoth = merge_df [(merge_df["reading_score"] >=70) & (merge_df["math_score"] >=70)]
PassMath1=len(PassMath)
PassRead1=len(PassRead)
PassBoth1=len(PassBoth)
PassMathAve=(PassMath1)/(Total_Students)*100
PassReadAve=(PassRead1)/(Total_Students)*100
PassBothAve=(PassBoth1)/(Total_Students)*100
#print(PassMathAve)
#print(PassReadAve)
#print(PassBothAve)

In [335]:
#Create District summary df
district_summary=[{"Total Schools":Total_Schools, "Total Students":Total_Students,
                   "Total Budget" :Total_Budget, "Average Math Score": Average_Math,\
                   "Average Reading Score":Average_Reader, "% Passing Math": PassMathAve, \
                   "% Passing Reading": PassReadAve, "% Overall Passing": PassBothAve}]
district_summary_df= pd.DataFrame(district_summary)
district_summary_df['Average Reading Score']=district_summary_df['Average Reading Score'].map("{:.2f}".format)
district_summary_df['Average Math Score']=district_summary_df['Average Math Score'].map("{:.2f}".format)
district_summary_df['% Passing Math']=district_summary_df['% Passing Math'].map("{:.2f}".format)
district_summary_df['% Passing Reading']=district_summary_df['% Passing Reading'].map("{:.2f}".format)
district_summary_df['% Overall Passing']=district_summary_df['% Overall Passing'].map("{:.2f}".format)
district_summary_df['Total Budget']=district_summary_df['Total Budget'].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

In [360]:

school_df.head
schoolsorted_df=school_df.sort_values(by='school_name')
#schoolsorted_df

In [361]:
student_df
studentsorted_df=student_df.sort_values(by="school_name")
studentsorted_df
#print(studentsorted_df)
mathscore=studentsorted_df["math_score"]
#print(math_score)
grade_df=studentsorted_df["grade"]
#Locate schools type,budget, student budget from school da

In [362]:

#Locate schools type,budget, student budget from school data
school_name=schoolsorted_df["school_name"]
#print(school_name)
school_types=schoolsorted_df["type"]
#print(school_types)
total_students=schoolsorted_df["size"]
#print(total_students)
school_budget=schoolsorted_df["budget"]
student_budget=(school_budget)/(total_students)
#print(student_budget)
#print(len(student_budget))

#print(math_score)
#math_score=student_df["math_score"].mean
#reading_score=student_df["reading_score"].mean

In [364]:
#find average math and reading score
math_scoreave_df= studentsorted_df.groupby("school_name")
avemath=math_scoreave_df["math_score"].mean()
#print(math_score)
#print(avemath)
#print(len(avemath))
read_scoreave_df=studentsorted_df.groupby("school_name")
averead_df=read_scoreave_df["reading_score"].mean()
#averead_df

In [365]:
PassMathAve=studentsorted_df[(studentsorted_df[math_score])] >=70
#print(PassMathAve)
#PassReadAve_df= studentsorted_df[read_scoreave_df.reading_score>69].groupby(['school_name']).size()
#PassBothAve_df= [[studentsorted_df[student_df.math_score>69].groupby(['school_name'])]&[student_df[student_df.reading_score>69].groupby(['school_name'])].size()

In [366]:
PassMath = merge_df [(merge_df["math_score"] >=70)]
PassMathAve=PassMath.groupby(["school_name"]).count()["student_name"]
totalMath=merge_df [(merge_df["math_score"] > 0)]
totalMathCount=totalMath.groupby(["school_name"]).count()["student_name"]
#print(PassMathAve)
#print(totalMathCount)
PassMassAvePerc=(PassMathAve/totalMathCount)*100
#print(PassMassAvePerc)

PassRead = merge_df [(merge_df["reading_score"] >=70)]
PassReadAve=PassRead.groupby(["school_name"]).count()["student_name"]
PassReadAvePerc=(PassReadAve/totalMathCount)*100
#print(PassReadAvePerc)
PassBoth = merge_df[(merge_df["reading_score"] >=70) & (merge_df["math_score"] >=70)]
PassBothAve=PassBoth.groupby(["school_name"]).count()["student_name"]
PassBothAvePerc=(PassBothAve/totalMathCount)*100

In [368]:
school_summary_df= pd.DataFrame({
         "school_name": school_name,
        "School Types":school_types,
   "Total Students":total_students,
    "Total School Budget":school_budget, 
    "Per Student Budget":student_budget, 
})
#school_summary_df
#school_summary_df.set_index("School Name", drop=True, append=False, inplace=False, verify_integrity=False)
#school_summary_df
#mergeschooldistrict_df = pd.merge(school_summary_df,Math_df, on="school_name", how="Left") 
#mergeschooldistrict_df.head

In [369]:
Math_df = pd.DataFrame({ 
 #"School Names": school_name,
    "Average Math Score": avemath,
   "Average Reading Score":averead_df,
 "% Passing Math":PassMassAvePerc,  
    "% Passing Reading": PassReadAvePerc,
    "% Overall Passing": PassBothAvePerc,
    })
#Math_df.sort_values(by="School Names")
#Math_df.set_index([0],drop=True,append=False,inplace=False,verify_integrity=False)
#Math_df

In [370]:
mergeschooldistrict_df = pd.merge(school_summary_df, Math_df, on='school_name', how='left') 
mergeschooldistrict_df

,school_name,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [345]:
#Top PErforming schools by %overal Passing
top_schools=mergeschooldistrict_df.sort_values(['% Overall Passing'],ascending=False)
top_schools.head(5)

,school_name,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [346]:
#Bottom Performing Schools by % overall PAssing
bottom_schools = mergeschooldistrict_df.sort_values(['% Overall Passing'],ascending=True)
bottom_schools.head(5)

,school_name,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [347]:
#Create grade/average math groups
nine_math=student_df.loc[student_df['grade']=="9th"].groupby('school_name')["math_score"].mean()
ten_math=student_df.loc[student_df['grade']=="10th"].groupby('school_name')["math_score"].mean()
eleven_math=student_df.loc[student_df['grade']=="11th"].groupby('school_name')["math_score"].mean()
twelve_math=student_df.loc[student_df['grade']=="12th"].groupby('school_name')["math_score"].mean()

math_score_df=pd.DataFrame({
    "9th":nine_math,
    "10th":ten_math,
    "11th":eleven_math,
    "12th":twelve_math
})
math_score=math_score[["9th","10th","11th","12th"]]
math_score.index.name="school_name"
math_score_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [348]:
#REading Score by grade
#Create grade/average math groups
nine_read=student_df.loc[student_df['grade']=="9th"].groupby('school_name')["reading_score"].mean()
ten_read=student_df.loc[student_df['grade']=="10th"].groupby('school_name')["reading_score"].mean()
eleven_read=student_df.loc[student_df['grade']=="11th"].groupby('school_name')["reading_score"].mean()
twelve_read=student_df.loc[student_df['grade']=="12th"].groupby('school_name')["reading_score"].mean()

reading_score_df=pd.DataFrame({
    "9th":nine_read,
    "10th":ten_read,
    "11th":eleven_read,
    "12th":twelve_read
})
reading_score=reading_score[["9th","10th","11th","12th"]]
reading_score.index.name="school_name"
reading_score_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [349]:
#Scores by school Spending-
bins = [0,584.99,630.99,650.99,800]
spending_ranges = ["Less than $585","$585-$631","$631-$651","Over $651"]

mergeschooldistrict_df['Spending Group'] = pd.cut(school_summary_df['Total Students'], bins, labels=spending_ranges)
scores_by_school_spending = mergeschooldistrict_df.groupby(['Spending Group']).mean()
scores_by_school_spending=scores_by_school_spending[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Group,,,,,
Less than $585,77.072464,80.966394,66.057551,81.222432,53.539172
$585-$631,NaN,NaN,NaN,NaN,NaN
$631-$651,NaN,NaN,NaN,NaN,NaN
Over $651,NaN,NaN,NaN,NaN,NaN

In [352]:
#SCores by Size
#bins
bins = [0, 999.9, 1999.99, 4999.99]
group_names = ["Small (Less Than 1000)", "Medium (1000-2000)", "Large (2000-5000)"]

mergeschooldistrict_df['School Size'] = pd.cut(school_summary_df["Total Students"], bins, labels=group_names)
scores_by_school_spending = mergeschooldistrict_df.groupby(['School Size'], sort=True).mean()
scores_by_school_spending = scores_by_school_spending[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (Less Than 1000),80.456190,82.505546,80.326073,88.584189,72.039856
Medium (1000-2000),80.878295,82.697890,82.317324,90.192458,75.270536
Large (2000-5000),80.148011,82.429660,80.320880,88.769335,72.341377

In [351]:

#Scores by School Size
score_type_df=mergeschooldistrict_df.set_index(['School Types'])
types=score_type_df.groupby(['School Types'], sort=True).mean()
types=types[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
types

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Types,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208