In [687]:
#Import Pandas, numpy

import pandas as pd
import numpy as np

#open and merge files
school_data_path="Resources/schools_complete.csv"
student_data_path="Resources/students_complete.csv"
school_df=pd.read_csv(school_data_path)
student_df=pd.read_csv(student_data_path)
print(school_df).head
merge_df = pd.merge(school_df,student_df , on="school_name")
merge_df.head

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

AttributeError: 'NoneType' object has no attribute 'head'

In [688]:
#collect new column info
Total_Schools =len(merge_df['school_name'].value_counts())
Total_Students=merge_df['student_name'].count()
Total_Budget=school_df['budget'].sum()


Average_Math =merge_df['math_score'].mean()
Average_Reader =merge_df['reading_score'].mean()

print (Total_Schools)
print(Total_Students)
print(Total_Budget)
print(Average_Math)
print(Average_Reader)

15
39170
24649428
78.98537145774827
81.87784018381414

In [689]:
#Figure out Percentages for math and reading
PassMath = merge_df [(merge_df["math_score"] >=70)]
PassRead = merge_df [(merge_df["reading_score"] >=70)]
PassBoth = merge_df [(merge_df["reading_score"] >=70) & (merge_df["math_score"] >=70)]
PassMath1=len(PassMath)
PassRead1=len(PassRead)
PassBoth1=len(PassBoth)
PassMathAve=(PassMath1)/(Total_Students)*100
PassReadAve=(PassRead1)/(Total_Students)*100
PassBothAve=(PassBoth1)/(Total_Students)*100
print(PassMathAve)
print(PassReadAve)
print(PassBothAve)

74.9808526933878
85.80546336482001
65.17232575950983

In [690]:
#Create District summary df
district_summary=[{"Total Schools":Total_Schools, "Total Students":Total_Students,
                   "Total Budget" :Total_Budget, "Average Math Score": Average_Math,\
                   "Average Reading Score":Average_Reader, "% Passing Math": PassMathAve, \
                   "% Passing Reading": PassReadAve, "% Overall Passing": PassBothAve}]
district_summary_df= pd.DataFrame(district_summary)
district_summary_df['Average Reading Score']=district_summary_df['Average Reading Score'].map("{:.2f}".format)
district_summary_df['Average Math Score']=district_summary_df['Average Math Score'].map("{:.2f}".format)
district_summary_df['% Passing Math']=district_summary_df['% Passing Math'].map("{:.2f}".format)
district_summary_df['% Passing Reading']=district_summary_df['% Passing Reading'].map("{:.2f}".format)
district_summary_df['% Overall Passing']=district_summary_df['% Overall Passing'].map("{:.2f}".format)
district_summary_df['Total Budget']=district_summary_df['Total Budget'].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

In [691]:

school_df.head
schoolsorted_df=school_df.sort_values(by='school_name')
schoolsorted_df

    School ID            school_name      type  size   budget
7           7     Bailey High School  District  4976  3124928
6           6    Cabrera High School   Charter  1858  1081356
1           1   Figueroa High School  District  2949  1884411
13         13       Ford High School  District  2739  1763916
4           4    Griffin High School   Charter  1468   917500
3           3  Hernandez High School  District  4635  3022020
8           8     Holden High School   Charter   427   248087
0           0      Huang High School  District  2917  1910635
12         12    Johnson High School  District  4761  3094650
9           9       Pena High School   Charter   962   585858
11         11  Rodriguez High School  District  3999  2547363
2           2    Shelton High School   Charter  1761  1056600
14         14     Thomas High School   Charter  1635  1043130
5           5     Wilson High School   Charter  2283  1319574
10         10     Wright High School   Charter  1800  1049400

In [759]:
student_df
studentsorted_df=student_df.sort_values(by='school_name')
studentsorted_df
print(studentsorted_df)
mathscore=studentsorted_df["math_score"]
print(math_score)
grade_df=studentsorted_df["grade"]
#Locate schools type,budget, student budget from school da

       Student ID      student_name gender grade         school_name  \
19584       19584        Tammie Fox      F  11th  Bailey High School
21193       21193   Jennifer Murray      F   9th  Bailey High School
21192       21192       Lisa Pineda      F   9th  Bailey High School
21191       21191    Cameron Miller      M  11th  Bailey High School
21190       21190  Thomas Rasmussen      M  12th  Bailey High School
...           ...               ...    ...   ...                 ...
24829       24829       John Lozano      M  11th  Wright High School
24828       24828   Jonathan Thomas      M  12th  Wright High School
24827       24827      Lori Ramirez      F  10th  Wright High School
24797       24797       Scott Scott      M  10th  Wright High School
26035       26035    Michael Holmes      M   9th  Wright High School

       reading_score  math_score
19584             82          92
21193             88          89
21192             86          67
21191             70          75
21190             77          82
...              ...         ...
24829             84          77
24828             95          80
24827             74          74
24797             90          83
26035             98          80

[39170 rows x 7 columns]
<bound method Series.mean of 0        79
1        61
2        60
3        58
4        84
         ..
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64>

In [739]:

#Locate schools type,budget, student budget from school data
school_names=schoolsorted_df["school_name"]
print(school_names)
school_types=schoolsorted_df["type"]
print(school_types)
total_students=schoolsorted_df["size"]
print(total_students)
school_budget=schoolsorted_df["budget"]
student_budget=(school_budget)/(total_students)
print(student_budget)
print(len(student_budget))

#print(math_score)
#math_score=student_df["math_score"].mean
#reading_score=student_df["reading_score"].mean

7        Bailey High School
6       Cabrera High School
1      Figueroa High School
13         Ford High School
4       Griffin High School
3     Hernandez High School
8        Holden High School
0         Huang High School
12      Johnson High School
9          Pena High School
11    Rodriguez High School
2       Shelton High School
14       Thomas High School
5        Wilson High School
10       Wright High School
Name: school_name, dtype: object
7     District
6      Charter
1     District
13    District
4      Charter
3     District
8      Charter
0     District
12    District
9      Charter
11    District
2      Charter
14     Charter
5      Charter
10     Charter
Name: type, dtype: object
7     4976
6     1858
1     2949
13    2739
4     1468
3     4635
8      427
0     2917
12    4761
9      962
11    3999
2     1761
14    1635
5     2283
10    1800
Name: size, dtype: int64
7     628.0
6     582.0
1     639.0
13    644.0
4     625.0
3     652.0
8     581.0
0     655.0
12    650.0
9     609.0
11    637.0
2     600.0
14    638.0
5     578.0
10    583.0
dtype: float64
15

In [740]:
#find average math and reading score
math_scoreave_df= studentsorted_df.groupby("school_name")
avemath=math_scoreave["math_score"].mean()
print(math_score)
print(avemath)
print(len(avemath))
read_scoreave_df=studentsorted_df.groupby("school_name")
averead_df=reading_scoreave["reading_score"].mean()
print(averead)

<bound method Series.mean of 0        79
1        61
2        60
3        58
4        84
         ..
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64>
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
15
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [741]:
PassMathAve=studentsorted_df[(studentsorted_df[maths_score])] >=70
print(PassMathAve)
#PassReadAve_df= studentsorted_df[read_scoreave_df.reading_score>69].groupby(['school_name']).size()
#PassBothAve_df= [[studentsorted_df[student_df.math_score>69].groupby(['school_name'])]&[student_df[student_df.reading_score>69].groupby(['school_name'])].size()

NameError: name 'maths_score' is not defined

In [742]:
PassMath = merge_df [(merge_df["math_score"] >=70)]
PassMathAve=PassMath.groupby(["school_name"]).count()["student_name"]
totalMath=merge_df [(merge_df["math_score"] > 0)]
totalMathCount=totalMath.groupby(["school_name"]).count()["student_name"]
print(PassMathAve)
print(totalMathCount)
PassMassAvePerc=(PassMathAve/totalMathCount)*100
print(PassMassAvePerc)

PassRead = merge_df [(merge_df["reading_score"] >=70)]
PassReadAve=PassRead.groupby(["school_name"]).count()["student_name"]
PassReadAvePerc=(PassReadAve/totalMathCount)*100
print(PassReadAvePerc)
PassBoth = merge_df[(merge_df["reading_score"] >=70) & (merge_df["math_score"] >=70)]
PassBothAve=PassBoth.groupby(["school_name"]).count()["student_name"]
PassBothAvePerc=(PassBothAve/totalMathCount)*100

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64
school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64
school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [756]:
school_summary_df= pd.DataFrame({
         "School Name":school_name,
        "School Types":school_types,
   "Total Students":total_students,
    "Total School Budget":school_budget, 
    "Per Student Budget":student_budget, 
})

print(school_summary_df)   

Math_df=pd.DataFrame({   
    "Average Math Score":avemath,
   "Average Reading Score":averead,
 "% Passing Math":PassMassAvePerc,  
    "% Passing Reading": PassReadAvePerc,
    "% Overall Passing": PassBothAvePerc,
    })

print(Math_df)
#mergeschooldistrict_df = pd.merge(school_summary_df,Math_df, on="school_name", how="Left") 
#mergeschooldistrict_df.head

              School Name School Types  Total Students  Total School Budget  \
7       Huang High School     District            4976              3124928
6    Figueroa High School      Charter            1858              1081356
1     Shelton High School     District            2949              1884411
13  Hernandez High School     District            2739              1763916
4     Griffin High School      Charter            1468               917500
3      Wilson High School     District            4635              3022020
8     Cabrera High School      Charter             427               248087
0      Bailey High School     District            2917              1910635
12     Holden High School     District            4761              3094650
9        Pena High School      Charter             962               585858
11     Wright High School     District            3999              2547363
2   Rodriguez High School      Charter            1761              1056600
14    Johnson High School      Charter            1635              1043130
5        Ford High School      Charter            2283              1319574
10     Thomas High School      Charter            1800              1049400

    Per Student Budget
7                628.0
6                582.0
1                639.0
13               644.0
4                625.0
3                652.0
8                581.0
0                655.0
12               650.0
9                609.0
11               637.0
2                600.0
14               638.0
5                578.0
10               583.0
                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       % Passing Math  % Passing Reading  % Overall Passing
school_name
Bailey High School          66.680064          81.933280          54.642283
Cabrera High School         94.133477          97.039828          91.334769
Figueroa High School        65.988471          80.739234          53.204476
Ford High School            68.309602          79.299014          54.289887
Griffin High School         93.392371          97.138965          90.599455
Hernandez High School       66.752967          80.862999          53.527508
Holden High School          92.505855          96.252927          89.227166
Huang High School           65.683922          81.316421          53.513884
Johnson High School         66.057551          81.222432          53.539172
Pena High School            94.594595          95.945946          90.540541
Rodriguez High School       66.366592          80.220055          52.988247
Shelton High School         93.867121          95.854628          89.892107
Thomas High School          93.272171          97.308869          90.948012
Wilson High School          93.867718          96.539641          90.582567
Wright High School          93.333333          96.611111          90.333333

In [754]:
#Top PErforming schools by %overal Passing
top_schools=Math_df.sort_values(['% Overall Passing'],ascending=False)
top_schools.head(5)

,School Name,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,
Cabrera High School,Figueroa High School,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Johnson High School,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Ford High School,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541

In [758]:
#Bottom Performing Schools by % overall PAssing
bottom_schools=Math_df.sort_values(['% Overall Passing'],ascending=True)
bottom_schools.head(5)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172

In [ ]:
#Math Scores by grade

In [ ]:
#REading Score by grade

In [ ]:
#Scores by school Spending

In [ ]:
#Scores by School Size

In [ ]:
#SCores by school type